<div class="abc">
  <div class="sidebar">
      <a class="active" href="/dashboard">Dashboard</a>
      <a href="/addUserAdmin">Add User Admin</a>
      <a href="/userDetails">Details</a>
      <a href="/addSetting">Setting</a>
      <a href="/usercomp">UserComplain</a>
      <br>
     <div class="content">
      </div>  
      </div>
      <table id="abcd" style="display: block;"> 
          <br>
          <br>
          <br>
          <tr style="margin-top:20px">
              <td class="abc">
                 <div class="card col-md-4 shadow-lg p-3 mb-5 bg-white" style="width: 25rem; margin-left: 320px">
                         <div class="card" padding:15px>
                           <h5 class="card-title"><b>Total User</b></h5>
                           <p class="card-text">Total no of user till register</p>
                           <a href="#" class="btn btn-primary">{{tuser}}</a>
                         </div>
                 </div>
               </td> 
              </tr>
                       
                      
           
          
      </table>
 
</div>
