<div style="color:brown">
  <h2><b>THE EARLY DAYS</b></h2><br>
  <h6><b>Happay was founded in 2012 with a simple idea: paying someone, be it friends, family or colleagues should be as easy as sending a text message. With this in mind, we built our first consumer product, the happay mobile app- a mobile wallet that allows you to pay just about anyone, anywhere, with their mobile number. No bank account details required.
  </b></h6><br><br><h2><b>A BIGGER VISION</b></h2><br>
  <h6><b>Over time we observed that, as consumers we have a lot of freedom and flexibility when we pay for things; but same is not true for businesses. The way businesses pay for and manage their expenses has remained the same for decades. This mismatch led us to create a new vision for happay (making payments a happy experience for businesses) and to develop a new product to support this vision. One area of business payments we focused on was business expense management.
  We’re here to disrupt business expense management.
  And for a good reason.</b></h6><br><br>
  <h2><b>THE NEED TO REINVENT AN OUTDATED PROCESS</b></h2><br><h6><b>
  The entire expense management workflow from recording of expenses to accounting them is every bit as sluggish, broken and inefficient as it was decades before.
  Business expenses are still made in cash.
  Employees waste hours creating expense reports, manually.
  Management has no real control or visibility into how their money is being spent.
  Accountants spend days reconciling stacks of paper receipts and spreadsheets.
  There are a few products trying to solve these problems but unfortunately, they cater to larger enterprises; they are expensive, a bit complex, with no end to end payment integration.
 </b> </h6><br><br><h2><b>A RADICAL CHANGE, A REVOLUTIONARY NEW PRODUCT</b></h2><h6><b>
  We have reinvented the expense workflow from the ground up; we have stripped it off and scrubbed it clean of all its shortcomings mainly cash, paper and manual data entry. We have made it uber simple, completely streamlined and 3 times as fast and efficient as before.
  With happay’s business expense card and mobile app, your employees can report expenses automatically, in seconds, on the go. For management, you have visibility and control into how and where your money is spent, in real time, through web and mobile. For accountants, you can reconcile expense reports, attached with digitised receipts in minutes. You can even integrate expense data into your accounting software without changing a thing. All this, on one single, centralised platform.
  </b></h6><br>
  </div>