.sidebar {
    height: 200%;
    width: 220px;
    position: absolute;
    z-index: 1;
    top: 48px;
    bottom: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: BLUE;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {

  margin-left: 200px;
  padding: 1px 20px;
  height: 1px;

}
