.navbar navbar-inverse
{
    position: fixed;
    max-width: 100%;
}

body {
    background-image: url("src/assets/images/asdck.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}