
<div text="centre">
        <h1 style="color:blue"><b>HOME EXPENDITURE MANAGEMENT SYSTEM</b> </h1>
</div>
<br>

<br>
<div style="color:brown">
  <h4><b>Automated expense and income
    management solution for people</b></h4><br>
    <h5><b>" Calculate how much you'd save by switching to Expensify "</b></h5>
     <h5><b> Expense reports with Expensify take 83% less time, freeing up your team to focus on more important things.</b></h5><br><br><br>
<br>
<br>
  <p><b>->7x Faster processing of expenses</b> </p>
  <p><b>->96% Reduction in Paperwork</b>
  </p>
  <p><b>->Reduced leakage on false submissions</b></p><br><br><br>

  <h6><b>Home Expenditure Management System is a product of S!D GROUP. © 2019 S!D GROUP Pvt Ltd. All rights reserved.</b></h6>
  <br><br>
</div>