/* You can add global styles to this file, and also import other style files */

@import './assets/bootstrap.min.css';

body {
    background-image: url("src/assets/images/edit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: fixed;
    left: 0;
}